.calculator {
  background-color: rgb(206, 174, 87);
  max-width: 450px;
  height: 600px;
  /* display: flex; */
  /* justify-self: center; */
  padding-top: 0.1px;
  margin: 40px auto;
  top: 30px;
  left: 25%;
  border-radius: 5%;
  /* box-shadow: rgba(199, 192, 192, 0.7) 10px -10px 10px inset; */
}

.screen {
  font-family: 'Quantico', sans-serif;
  font-size: 48px;
  background-color: grey;
  height: 15%;
  margin: 30px 25px 0 25px;
  border-radius: 5% 5% 5% 5% / 22% 22% 22% 22%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.equation {
  padding: 10px;
}
.result {
  padding: 10px;
}

.r1 {
  width: 100%;
  position: relative;
  top: 40px;
  display: flex;
  justify-content: space-around;
  /* padding: 0 10px; */
  margin-bottom: 10px;
}

button {
  border: 0px;
  border-radius: 20%;
  /* background-color: rgb(74, 74, 144); */
  width: 75px;
  height: 75px;
  font-size: 25px;
  font-weight: 700;
}
